<nav class="col-md-2 d-none d-md-block bg-dark text-light sidebar">
  <div class="position-sticky pt-4 px-2 text-center">
    <!-- Logo como botón de inicio -->
    <a href="/countries">
      <img src="/img/home.png" alt="Inicio" class="img-fluid mb-4" style="max-width: 80px;">
    </a>

    <!-- Botones -->
    <div class="d-grid gap-2">
       <a href="/countries/lista" class="btn btn-primary btn-md px-4 shadow-sm">
            <i class="bi bi-list-ul"></i> Ver lista de países
        </a>
        <a href="/countries/agregar" class="btn btn-success btn-md px-2 shadow-sm">
            <i class="bi bi-plus-circle"></i> Agregar un nuevo país
        </a>
    </div>
  </div>
</nav>
